---
import SectionContainer from "./ui/SectionContainer.astro";


---

<SectionContainer className="bg-crave-rose">
    <div class="flex flex-col justify-center items-center">
        <img src="/image-4.jpg" class="w-full" alt="Fresh Crave">
    </div>
</SectionContainer>