---
import SectionContainer from "./ui/SectionContainer.astro";
import TextHeader from "./ui/TextHeader.astro";
import TextParraf from "./ui/TextParraf.astro";
---

<header class="text-center">
  <SectionContainer className="gap-5">
    <div class="flex flex-col max-w-3xl gap-14">
      <TextHeader>
        Making sure you really <span class="italic">crave</span> it!
      </TextHeader>
      <TextParraf>
        CLASSIC WITH A MODERN TWIST. AN EXPERIENCE FOR THE THASTE BUDS AND THE SOUL.
      </TextParraf>
    </div>
    <img src="/hero-img-header.jpg" alt="Hero Image" class="w-full">
  </SectionContainer>
</header>
