---
import NavLinks from "./ui/NavLinks.astro";
---

<nav class="w-full py-10 px-5 justify-center sticky top-0 left-0">
  <div class="flex justify-center md:justify-between items-center">
    <p class="text-[10px] text-pretty max-w-40 hidden md:flex">
      VISUAL BRAND DESIGN / ART DIRECTION: LEANDRA RANGEL
    </p>
    <NavLinks />
    <p class="text-[10px] text-pretty max-w-40 hidden md:flex">
        2024 CRAVE / COFFE SHOP & BAKERY
    </p>
  </div>
</nav>
