---
import SectionContainer from "./ui/SectionContainer.astro";
import SubHeader from "./ui/SubHeader.astro";
---

<SectionContainer className="text-center gap-10">
  <SubHeader>
    We are the best and sweet experience in the entire city
  </SubHeader>
  <img src="/image-5.jpg" alt="" />
  <div class="flex flex-col gap-10 text-left text-pretty">
    <p class="text-xl max-w-7xl">
      Lorem ipsum dolor sit amet consectetur adipiscing elit quis ad, urna quam
      nulla quisque feugiat sollicitudin non tincidunt himenaeos, vel laoreet
      massa senectus sociosqu morbi vivamus curabitur. Accumsan montes aliquet
      potenti natoque consequat interdum fermentum neque donec, lacinia dui
      fusce nascetur porta litora malesuada elementum nostra, nec enim varius
      primis lobortis vehicula mi ridiculus. 
    </p>

    <p class="text-xl max-w-7xl">
        Dictum odio in tristique parturient
      elementum fames, massa nisl eleifend sagittis bibendum, quam orci viverra
      etiam pulvinar. Etiam tincidunt phasellus fermentum scelerisque egestas
      magna fames cursus praesent, nascetur dignissim platea ante rhoncus primis
      convallis rutrum vehicula proin, senectus taciti morbi tempus risus lacus
      vitae donec. Consequat ornare felis vestibulum mi curabitur phasellus
      malesuada metus, taciti a primis pretium per varius dapibus duis, at
      sociis montes integer porttitor senectus natoque. Himenaeos libero viverra
      per morbi mattis in habitasse vitae, scelerisque nibh metus a magnis
      posuere vivamus, aptent rhoncus varius ridiculus tristique dui tempor.
    </p>
  </div>
  <img src="/image-3.jpg" alt="">
</SectionContainer>
